body{
    margin:10px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:black
}

.header{
    width: auto;
    background: #5f9ea0;
    height:100px;
}

.logo{
    width: 150px;
    border: 5px solid white;
    position: relative;
    top:15px;
    left:20px;
    padding: 10px;
    font-family: 'Poiret One', cursive
}

.home{
    position: relative;
    bottom: 70px;
    left:830px
}

.aboutus{
    position: relative;
    bottom:110px;
    left:900px
}

.login{
    position: relative;
    bottom: 150px;
    left:600px;
    width: 100px;
    height: 50px;
    background-color: pink;
    border-radius: 10px;
    font-size: 20px;
}

.login:hover{
    transform: translateX(1.2);
    background-color: rgb(255, 140, 159);
}

.headerline{
    position: relative;
    bottom:200px;
    left:250px;
    color:rgb(255, 208, 0);
    font-family: 'Italiana', serif;
}

.card1{
    margin-top: 60px;
    margin-left: 50px;
    width: 400px;
    height: 300px;
    background-color: rgb(255, 145, 0);
}

.card1 img{
    position: relative;
    top:50px;
    left: 100px;
}


.card2{
    position: relative;
    left:580px;
    bottom: 300px;
    width: 400px;
    height: 300px;
    background-color: aqua;    
}

.texhimg{
    position: relative;
    top:30px;
    left: 80px;
}

.oneheading{
position: relative;
top:50px;
}
 
.clothimg{
    position: relative;
    top:30px;
    right: 10px;
}